@use '../../styles//mixins.scss' as *;

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 40px auto;
  padding: 0 0 20px;

  background-color: #fbfbfb;

  @include container-padding;

  .listInput {
    width: 100%;
    max-width: 838px;
    margin-bottom: 80px;
  }

  .catalogHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  .settingList {
    display: flex;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 32px;

    width: 100%;
    min-width: 0;

    &.row {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }

    .loaderWrapper {
      display: flex;
      grid-column: 1 / -1;
      justify-content: center;

      width: 100%;
    }
  }

  .listFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-top: 50px;
  }
}
