$black: #2d2d2d;
$white: #ffffff;
$yellow: #f1b926;
$gray: #a9a9a9;
$light-gray: #ececec;
$green: #51e245;

$font-family: "Roboto", sans-serif;

$header-height: 80px;
$footer-height: 80px;

$radius: 4px;

$container-width: 1320px;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-small: 550px;
