@use '../../../styles/variables.scss' as *;

.input {
  width: 100%;
  height: 40px;

  padding: 8px 12px;

  font: 400 16px / 24px $font-family;
  color: $black;

  background-color: $white;

  border: 1px solid $gray;
  border-radius: $radius;

  outline: none;

  &::placeholder {
    color: $gray;
  }

  &:hover {
    border-color: $black;
  }

  &:focus {
    border-color: $yellow;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
