@use '../../styles/mixins' as *;

.footer {
  width: 100%;
  box-sizing: border-box;

  .footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;

    @include container-padding;

    .socialMedia {
      display: flex;
      gap: 10px;
    }
  }
}
