.footer {
  width: 100%;

  box-sizing: border-box;

  .footerContent {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100.8px;
    .socialMedia {
      display: flex;
      gap: 10px;
    }
  }
}
